telegram:
    token: {{ TELEGRAM_TOKEN }}
    allow_user: {{ TELEGRAM_USER }}
vmware:
    server: {{ VMWARE_SERVER }}
    username: {{ VMWARE_USER }}
    password: {{ VMWARE_PASSWORD }}
db:
    path: {{ DB_PATH }}
